#logoh{
  width: 150px;
}


/*Footer*/

#footer{
  width: 100%;
  height: 470;
  background: black;
  color: white;
  overflow: hidden;
}

#footer .wrap > div{
  float: left;
  width: 320px;
  height: 370px;
  margin: 40px;
  text-align: center;
  color: white;
  font-family: "TrebuchetMS";
}

#footer a{
  text-decoration: none;
  color: #37BCF9;
  transition: all 300ms;
}

#footer h5{
  display: block;
  background: url('../img/pxgray.png'), white;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "BebasNeue";
  font-size: 40px;
  line-height: 55px;
  color: black;
  border-radius: 5px;
  margin-bottom: 15px;
}

#footer ul{
  text-align: left;
  margin: 20px;
  font-size: 25px;
}

#footer ul li{
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

#footer ul li a{
  display: block;
  height: 40px;
  transition: all 300ms;
}

#footer ul li:hover a{
  padding-left: 40px;
  color: white;
  width: 100%;
}
#footer iframe{
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0px 0px 5px gray;
}

#footer img{
  margin-bottom: 15px;
}

#footer #browsers img{
  width: 45px;
}





